p
  | <strong>Apiary Espresso Bar</strong>,
  | <br /> <a href="https://www.google.com/maps/place/Apiary+Espresso+Bar/@50.0919519,14.4544029,17z/data=!3m1!4b1!4m2!3m1!1s0x470b94a3fcf41f37:0xf904379c587b1bb7">Pernerova 49, 186 00 Prague 8</a>
h3 Hosted by <div class="partner"><a href="https://apiary.io/"><img src="/partners/apiary-logotype.png" alt="Apiary"/></a></div>
