p
  | <strong>AVAST Software s.r.o.</strong>,
  | <br /> <a href="https://www.google.com/maps/place/AVAST+Software+s.r.o./@50.0520735,14.4390501,17z/data=!4m7!1m4!3m3!1s0x470b938a006d8759:0x93b70efed9bbca77!2sPikrtova+1a,+140+00+Praha+4,+Czech+Republic!3b1!3m1!1s0x470b9389ff0c9c13:0xdfe5e234f6833516">Enterprise Office Center, Pikrtova 1737/1A, 140 00 Prague 4</a>
h3 Hosted by <div class="partner"><a href="https://www.avast.com/"><img src="http://files.avast.com/files/marketing/logos/logo-horiz-gray-rgb-30mm.png" alt="avast logotype"  /></a></div>
