p
  | <strong>Salsita Software</strong>,
  | <br /> <a href="https://www.google.com/maps/place/%C5%A0tef%C3%A1nikova+18%2F25,+Sm%C3%ADchov,+150+00+Praha-Praha+5,+Czech+Republic/@50.0746293,14.401407,17z/data=!3m1!4b1!4m2!3m1!1s0x470b94f8e8755bcb:0x38b6b4628aa03c45">Stefanikova 25, 150 00 Prague 5</a>
h3 Hosted by <div class="partner"><a href="https://www.salsitasoft.com/"><img src="/partners/salsita_logo.png" alt="Salsita"/></a></div>
